{% load static %}
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
    {% for category in categories_img %}
        <div class="col-lg-4 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                {% if category.level == 0 and category.lft|add:1 != category.rght %}
                <p class="text-right"><br></p>
                {% elif category.product_set.all.count == 0 %}
                <p class="text-right">Доступных товаров нет</p>
                {% elif category.product_set.all.count == 1  %}
                <p class="text-right">1 товар</p>
                {% elif category.product_set.all.count > 1 and category.product_set.all.count < 5  %}
                <p class="text-right">{{ category.product_set.all.count }} товара</p>
                {% else %}
                <p class="text-right">{{ category.product_set.all.count }} товаров</p>
                {% endif %}
                <div class="category-home">
                <a href="" class="cat-img position-relative overflow-hidden mb-3">

                    <img src="{{ category.img.url }}" alt="">

                </a>
                </div>
                <h5 class="font-weight-semi-bold m-0">{{ category.name }}</h5>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

