<div class="col-lg-3 d-none d-lg-block">
    <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100 collapsed"
       data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;"
       aria-expanded="false">
        <h6 class="m-0">Категории</h6>
        <i class="fa fa-angle-down text-dark"></i>
    </a>
    <nav class="position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light collapse{% if index %}.show{% endif %}"
            {# Проверяет, на главной ли странице находимся? Если да, то по умолчанию раскрывается список категорий #}
         id="navbar-vertical" style="width: calc(100% - 30px); z-index: 1;">
        <div class="navbar-nav w-100 overflow-hidden" style="height: 410px">

            {% load mptt_tags %}
            {% recursetree categories %}
                {# категории с вложенностью начало #}
                <div class="nav-item dropdown">
                    {% if node.level == 0 and node.lft|add:1 != node.rght %}

                        <a href="#" class="nav-link" data-toggle="dropdown" aria-expanded="false">
                            {{ node.name }}
                            <i class="fa fa-angle-down float-right mt-1"></i> {# ярлычок вниз #}
                        </a>
                    {% endif %}
                    {# категории с вложенностью конец #}

                    {# вложенные категории начало #}
                    {% if not node.is_leaf_node %}
                        <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                            {% for child in node.children.all %}
                                <a href="" class="dropdown-item">
                                {{ child.name }}
                                {# следующий (здесь неиспользующийся уровень вложенности) начало #}
                                {% recursetree child.children.all %}
                                    <a href="#">{{ node.name }}</a>
                                {% endrecursetree %}
                                {# следующий (здесь неиспользующийся уровень вложенности) конец #}
                            {% endfor %}
                            </a></div>
                    {% endif %}
                    {# вложенные категории конец #}

                    {# категории без вложенности начало #}
                    {% if node.level == 0 and node.lft|add:1 == node.rght %}
                        <a href="" class="nav-item nav-link">{{ node.name }}</a>
                    {% endif %}
                    {# категории без вложенности конец #}
                </div>
            {% endrecursetree %}

        </div>
    </nav>
</div>